<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>米橙后台管理系统</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <!--引入百度地图-->
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=0aVEPflHds5hz38sKj6IFPwBvxtzdXgH"></script>
  <!--引入高德地图-->
  <!-- <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=9b5757a1990aa6f1fd50106b61085999"></script>  -->
  <!-- 引入ueditor编辑器 -->
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js?v=20200411b"></script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js?v=20200411"> </script>
  <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js?v=20200411"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>