<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="never">
  <title>米橙相册</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/pace/pace-theme-flash.css">
  <script>
    window.paceOptions = {
      ajax: {
　　　　　　trackMethods: ['GET', 'POST']
　　　　},
      eventLag:false,
      elements:false,
    };
  </script>
  <script src='/pace/pace.min.js'></script>
  <style>
    .pace .pace-progress {
    background: #1890ff; /*进度条颜色*/
  }
  </style>
</head>
<body>
  <div id="root"></div>
  <!--<script src="http://gosspublic.alicdn.com/aliyun-oss-sdk-4.4.4.min.js"></script>-->
  <script src="https://gw.alipayobjects.com/as/g/??datavis/g2/2.3.12/index.js,datavis/g-cloud/1.0.2/index.js,datavis/g2-plugin-slider/1.2.1/slider.js"></script>
</body>

</html>
